body {
    margin: 0; /* This will stop the margin, setting it to 0 */
}
  
.menu {
    width: 13.5vw;
    height: 100vh;
    background: rgb(30, 32, 35);
    float: left;
}
  
.interface {
    width: 100vw;
    height: 100vh;
    background: rgb(52, 53, 65); 
    flex: 1;
}

.new-chat{
    background: transparent;
    color: antiquewhite;
    border: 2px solid rgb(52, 53, 65);
    width: 235px;
    height: 50px;
    border-radius: 7px;
    margin-left: 0.5vw;
    margin-top: 1vh;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    text-align: left;
    padding-left: 15px;
    font-size: 15px;
}

i {
    padding-right: 10px;
}

.new-chat:hover{
    background-color: gray;
}

textarea {
    width: 70%;
    resize: none;
    background-color: rgb(75, 76, 96);
    padding-right: 1.75rem;
    outline: none;
    color: aliceblue;
    margin-left: 150px;
    margin-bottom: 3rem;
    font-size: medium;
    box-shadow: 0px 0px 10px rgba(215, 193, 193, 0.1);
    position: absolute;
    bottom: 1rem;
}

.btn {
    position: absolute;
    padding: 0.5rem;
    color: #959595;
    bottom: 1rem;
    transition: all 0.15s ease;
    background-color: transparent;
    right: 190px;
    margin-bottom: 3.2rem;
}
