.response {
    background-color: rgb(68, 70, 84);
    color: white;
    text-align: left;
    padding-left: 20vw;
    min-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4;
    white-space: pre-wrap;
    transform: translate(0);
    padding-bottom: 2%;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-right: -0.25rem;
    margin-left: -0.25rem;
}
  
  .text > * {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }
  
  .text > :not(:first-child) {
    margin-top: 0.25rem;
  }
  
  .text > :not(:last-child) {
    margin-bottom: 0.25rem;
  }

.gpt-pfp{
  position: absolute;
  height: 21px;
  width: 21px;
  padding: 1px;
  border-radius: 0.125rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(16, 163, 127);
  margin-top: 1.87vh;
  left: 17vw;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 1.5rem;
  color: aliceblue;
  position: relative;
  top: 5px;
  right: 10px;
}

.spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid aliceblue;
  border-top-color: transparent;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}